* {
  margin: 0%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Webfont: MangoGrotesque-Black */
@font-face {
  font-family: "MangoGrotesqueBlack";
  src: url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Black.eot"); /* IE9 Compat Modes */
  src: url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Black.woff")
      format("woff"),
    url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Black.woff2")
      format("woff2"),
    url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Black.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: MangoGrotesque-Bold */
@font-face {
  font-family: "MangoGrotesque";
  src: url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Bold.eot"); /* IE9 Compat Modes */
  src: url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Bold.woff")
      format("woff"),
    url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Bold.woff2")
      format("woff2"),
    url("../Fonts/MangoGrotesque/Web-TT/MangoGrotesque-Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
