h3, h4 {
    font-weight: 400;
}

.principal-container {
    display: flex;
    background-color: #5534F5;
    background-image: url('../../assets/vector-blue.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    padding: 120px 150px 0 150px;
}

.title-container {
    display: flex;
    color: #FFFF;
    flex-direction: column;
    justify-content: flex-end;
}

.subtitle-form h3 {
    font-size: 14px;
}

h1 {
    margin-top: 5px;
}

.interested {
    width: 100%;
}

.interested h4 {
    margin-bottom: 5px;
    color: #FFFF;
}

button {
    background-color: transparent;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #FFFF;
    color: #FFFF;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 600;
}

.selected {
    background-color: #FFFF;
    color: #000000;
}

.up-buttons {
    display: flex;
    margin-bottom: 5px;
    gap: 5px
}

.brand {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 460px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid #FFFF;
    background-color: transparent;
    color: #FFFF;
    padding: 30px 0 4px 0;
    font-size: 14px;
}

::placeholder {
    color: #FFFF;
    padding-bottom: 0px;
    opacity: 70%;
    font-size: 14px;
}

.message {
    height: 100px;
}

.button-form button {
    width: 150px;
    margin: 50px 0 20px 0;
}

.error {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: #FFFF !important;
    transition: background-color 5000s ease-in-out 0s;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}