*{
  font-family: 'Inter'; 
}


.General-Div-Cards {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .card1 {
    width: 160px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    margin-top: 10%;
  }
  .card2 {
    width: 160px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    margin-top: 10%;
  }
  .card3 {
    width: 160px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    margin-top: 10%;
  }
   h4 {
    text-align: left; 
    margin-bottom: 50px;
    font-family: 'Inter Black';
    font-size: 20px;
  } 
   p {
    text-align: left; 
    font-family: 'Inter';
  }   

  @media (max-width: 768px) {
    .card2{
      display: none;
    }
    .card3{
      display: none;
    }
  }

  